<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {border: 1px solid black;}
    </style>
</head>
<body>
    <h1>Auto</h1>
  <table>
    <thead>
    <tr>
          <th>ID</th>
          <th>Model</th>
          <th>Price</th>
          <th>Year</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="auto, iterStat : ${cars}">
            <td th:text="${iterStat.index}+1"></td>
            <td th:text="${auto.model + ' '}"></td>
            <td th:text="${'$' + auto.price + ' '}"></td>
            <td th:text="${auto.year}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>